[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2"
garpixcms = "==4.6.0-rc24"
garpix-utils = "==1.10.0-rc25"

[dev-packages]

[requires]
python_version = "3.10"
